{% extends 'head.html' %}
{% load static %}
{% block content %}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Препараты</li>
    <li class="breadcrumb-item">Заказ</li>
    <li class="breadcrumb-item">{{order.id}}</li>
  </ol>
</nav>

<h2 class="mb-4">Детали заказа №{{ order.id }}</h1>
    
    <p>Дата создания: {{ order.date_created|date:"d/m/Y" }}</p>
    <p>Полное имя: {{ order.full_name }}</p>
    <p>Email: {{ order.email }}</p>
    <p>Адрес доставки: {{ order.delivery_address }}</p>
    <p>Сумма: {{ order.total_price|floatformat:0 }} тг.</p>
    <p>Комментарии: {{ order.comments }}</p>
    <br>

    <h2>Препараты в заказе:</h2>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Изображение</th>
          <th scope="col">Название</th>
          <th scope="col">Количество</th>
          <th scope="col">Цена за шт.</th>
        </tr>
      </thead>
      <tbody>
        {% for order_product in order.orderproduct_set.all %}
          <tr>
            <td>
              {% if order_product.product.photo %}
                <img src="{{ order_product.product.photo.url }}" alt="{{ order_product.product.name }}" width="50" height="50">
              {% else %}
                <img src="{% static 'images/no-photo.jpg' %}" alt="{{ order_product.product.name }}" width="50" height="50">
              {% endif %}
            </td>
            <td>{{ order_product.product.name }}</td>
            <td>{{ order_product.quantity }}</td>
            <td>{{ order_product.product.price|floatformat:0 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <h2>Статус заказа:</h2>
    <br>
    <div class="row">
      <div class="col-md-4">
    <form method="post" action="{% url 'order_detail' order.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary">Сохранить статус</button>
    </form>
    </div>
    </div>
    <br>
{% endblock %}